In [22]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns

In [23]:
df = pd.read_csv('data/hospital_readmissions.csv')
df.head()

,age,time_in_hospital,n_lab_procedures,n_procedures,n_medications,n_outpatient,n_inpatient,n_emergency,medical_specialty,diag_1,diag_2,diag_3,glucose_test,A1Ctest,change,diabetes_med,readmitted
0,[70-80),8,72,1,18,2,0,0,Missing,Circulatory,Respiratory,Other,no,no,no,yes,no
1,[70-80),3,34,2,13,0,0,0,Other,Other,Other,Other,no,no,no,yes,no
2,[50-60),5,45,0,18,0,0,0,Missing,Circulatory,Circulatory,Circulatory,no,no,yes,yes,yes
3,[70-80),2,36,0,12,1,0,0,Missing,Circulatory,Other,Diabetes,no,no,yes,yes,yes
4,[60-70),1,42,0,7,0,0,0,InternalMedicine,Other,Circulatory,Respiratory,no,no,no,yes,no

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25000 entries, 0 to 24999
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   age                25000 non-null  object
 1   time_in_hospital   25000 non-null  int64
 2   n_lab_procedures   25000 non-null  int64
 3   n_procedures       25000 non-null  int64
 4   n_medications      25000 non-null  int64
 5   n_outpatient       25000 non-null  int64
 6   n_inpatient        25000 non-null  int64
 7   n_emergency        25000 non-null  int64
 8   medical_specialty  25000 non-null  object
 9   diag_1             25000 non-null  object
 10  diag_2             25000 non-null  object
 11  diag_3             25000 non-null  object
 12  glucose_test       25000 non-null  object
 13  A1Ctest            25000 non-null  object
 14  change             25000 non-null  object
 15  diabetes_med       25000 non-null  object
 16  readmitted         25000 non-null  object
dtypes: int64(7), object(10)
memory usage: 3.2+ MB

In [25]:
df.rename(columns={'time_in_hospital':'no_of_days',
                   'n_outpatient':'outpatient_visits',
                   'n_inpatient':'inpatient_visits',
                   'n_emergency':'emergency_visits',
                   'medical_specialty':'speciality',
                   'change':'diabetesmed_change'},
                   inplace=True)
df.head(10)

,age,no_of_days,n_lab_procedures,n_procedures,n_medications,outpatient_visits,inpatient_visits,emergency_visits,speciality,diag_1,diag_2,diag_3,glucose_test,A1Ctest,diabetesmed_change,diabetes_med,readmitted
0,[70-80),8,72,1,18,2,0,0,Missing,Circulatory,Respiratory,Other,no,no,no,yes,no
1,[70-80),3,34,2,13,0,0,0,Other,Other,Other,Other,no,no,no,yes,no
2,[50-60),5,45,0,18,0,0,0,Missing,Circulatory,Circulatory,Circulatory,no,no,yes,yes,yes
3,[70-80),2,36,0,12,1,0,0,Missing,Circulatory,Other,Diabetes,no,no,yes,yes,yes
4,[60-70),1,42,0,7,0,0,0,InternalMedicine,Other,Circulatory,Respiratory,no,no,no,yes,no
5,[40-50),2,51,0,10,0,0,0,Missing,Other,Other,Other,no,no,no,no,yes
6,[50-60),4,44,2,21,0,0,0,Missing,Injury,Other,Other,no,normal,yes,yes,no
7,[60-70),1,19,6,16,0,0,1,Other,Circulatory,Other,Other,no,no,no,yes,yes
8,[80-90),4,67,3,13,0,0,0,InternalMedicine,Digestive,Other,Other,no,no,no,no,yes
9,[70-80),8,37,1,18,0,0,0,Family/GeneralPractice,Respiratory,Respiratory,Other,no,no,yes,yes,no

In [26]:
print(df['age'].unique())

['[70-80)' '[50-60)' '[60-70)' '[40-50)' '[80-90)' '[90-100)']

In [27]:
df['age_grp'] = df['age'].replace({'[40-50)':4,
                                   '[50-60)':5,
                                   '[60-70)':6,
                                   '[70-80)':7,
                                   '[80-90)':8,
                                   '[90-100)':9})
df['age_grp'] = df['age_grp'].astype('category')
print('dtype :',df['age_grp'].dtype)
df[['age','age_grp']]

dtype : category

C:\Users\DELL\AppData\Local\Temp\ipykernel_12952\3851684995.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['age_grp'] = df['age'].replace({'[40-50)':4,

           age age_grp
0      [70-80)       7
1      [70-80)       7
2      [50-60)       5
3      [70-80)       7
4      [60-70)       6
...        ...     ...
24995  [80-90)       8
24996  [80-90)       8
24997  [70-80)       7
24998  [70-80)       7
24999  [50-60)       5

[25000 rows x 2 columns]

In [28]:
df.drop('age', axis=1, inplace=True)
df.head()

,no_of_days,n_lab_procedures,n_procedures,n_medications,outpatient_visits,inpatient_visits,emergency_visits,speciality,diag_1,diag_2,diag_3,glucose_test,A1Ctest,diabetesmed_change,diabetes_med,readmitted,age_grp
0,8,72,1,18,2,0,0,Missing,Circulatory,Respiratory,Other,no,no,no,yes,no,7
1,3,34,2,13,0,0,0,Other,Other,Other,Other,no,no,no,yes,no,7
2,5,45,0,18,0,0,0,Missing,Circulatory,Circulatory,Circulatory,no,no,yes,yes,yes,5
3,2,36,0,12,1,0,0,Missing,Circulatory,Other,Diabetes,no,no,yes,yes,yes,7
4,1,42,0,7,0,0,0,InternalMedicine,Other,Circulatory,Respiratory,no,no,no,yes,no,6